body {
    font-family: 'Hammersmith One', sans-serif;
    background-color: #d9e1f3;
}

header {
    background-color: #191d37;
    border-radius: 5px;
}

nav.wrapper {
    margin: 0;

}

.wrapper-item {
    display: block;
    text-align: center;
    padding: 18px;

}

.nav-item {
    color: #b4dbeb;
    text-decoration: none;
    margin: 19px;
}

h1 {
    margin-left: 7%;
    color: #172446;
    text-decoration: none;
}

.photo {
    width: 200px;
    border-radius: 20px;
    border: 3px solid;
}

.index_presentation {

    margin-left: 150px;
    justify-content: center;
    width: 1000px;
    align-items: center;
}

.presentation {
    display: flex;
    align-items: center;
    margin-top: 50px;
    background-color: whitesmoke;
    border-radius: 12px;
    box-shadow: 10px 10px 40px -14px rgba(0, 0, 0, 0.51)
}

.competences {
    justify-content: center;
    background-color: whitesmoke;
    border-radius: 12px;
    box-shadow: 10px 10px 40px -14px rgba(0, 0, 0, 0.38);

}

.liste_competences {
    margin-left: 20%;
    font-size: 20px;

}

h2 {
    margin-left: 10%;
    color: #172446;
}

.exp-cmpl {
    background-color: whitesmoke;
    border-radius: 12px;
    box-shadow: 10px 10px 40px -14px rgba(0, 0, 0, 0.54)
}

.div {
    margin-left: 15%;
}

.experiences {

}

.mcdo {
    margin-left: 5%;

}

.liste-projets {
    text-align: center;
    margin-top: 50px;
    background-color: whitesmoke;
    border-radius: 12px;
    box-shadow: 10px 10px 40px -14px rgba(0, 0, 0, 0.51)
}

.projet-1 {

    align-items: center;
    margin-top: 50px;
    background-color: whitesmoke;
    border-radius: 12px;
    box-shadow: 10px 10px 40px -14px rgba(0, 0, 0, 0.51)
}

.projet-1-container {
    text-align: center;
}

.index_workshop {
    margin-top: 50px;
    background-color: whitesmoke;
    border-radius: 12px;
    box-shadow: 10px 10px 40px -14px rgba(0, 0, 0, 0.51)
}
.workshop-container{
    margin-top: 3%;
    margin-left: 25px;
    display: block;
    
}

footer {
    align-items: center;
    background-color: #191d37;
    border-radius: 5px;
    bottom: 0;
    width: 99%;
}

.footer-container {
    text-align: center;
    color: #b4dbeb;


}

.lien_reseau {
    width: 35px;
}

.form {
    width: 340px;
    height: 440px;
    background: #e6e6e6;
    border-radius: 7px;
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    box-sizing: border-box;
    border: 5px solid;

}

input {
    width: 100%;
    padding: 10px;
    border: 0;
    transition: 0.3s;
    border-bottom: 2px solid black;
    color: #191d37;
}


p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #172446
}

button {
    float: right;
    padding: 7px 10px;
    color: #172446;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
}

input:hover {
    background: #b3d4ff;

}

button:hover {
    background: #172446;
    color: antiquewhite;
}

@media (max-width: 767px)and (min-width: 500px) {
    .wrapper {
        align-items: center;
        font-size: small;

    }

    /* tentative de rendre la class presentation responsive
    .presentation{
        text-align: center;
        font-size: small;
        display: block;

    }

     */


}